//
//    COLORS
//

// Active color
$active: #EE693C;

// greys
$dark: #393939;
$medium: #cfcfcf;
$light: #FAFAFA;
$modalGrey: #f0f0f0;
$mediumDark: #909090;
$mediumLight: #e8e8e8;
$materialGrey: $mediumDark; //#bdbdbd;

$white: #fff;

// services
$service1: #f9ce1b; // colf					(yellow)
$service2: #4caf4f; // badante			(green)
$service3: #428dcc; // baby sitter 	(blue)


// MEDIA QUERY
$mq-sm: 600px;
$mq-md: 992px;
