<div id="add-avail-block">
    <h4 class="no-margin all center">Opzioni</h4>
    <div class="row no-margin all">
        <div class="col s8 offset-s2">
            <p class="center no-margin bottom">
                <a type="button" ng-click="ctrl.editAvail()" full-width class="margin-bottom-small waves-effect waves-main-orange white btn btn-small btn-flat">Modifica</a>
                <a type="button" ng-click="ctrl.deleteAvail()" full-width class="waves-effect waves-effect red white-text text-darken-2 lighten-1 btn btn-small btn-flat">Elimina</a>
            </p>
        </div>
    </div>

</div>
