<div class="cookie-banner z-depth-3">
  <div class="row">
    <div class="container">
      <div class="col m12">
        <h3 class="center">Cookie policy</h3>
        <div row column-sm>
          <p>Questo sito utilizza i cookie, anche di terze parti, per offrire un servizio migliore: cliccando su 'Accetta', proseguendo nella navigazione, effettuando lo scroll della pagina o altro tipo di interazione col sito, acconsenti all'utilizzo dei cookie. Per maggiori informazioni o per negare il consenso a tutti o ad alcuni cookie, <a class="inline-block" target="_blank" ng-href="{{ctrl.informativa}}"><strong>consulta l'informativa</strong>.</a></p>
          <div class="center section"><a class="waves-effect waves-light main-orange white-text btn btn-small" ng-click="ctrl.accept()">Accetta</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
