.page-image-header__wrapper {
    position: relative;
    height: 280px;
}

.page-image-header__background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    height: 280px;
}
