<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="indirizzo center" ng-repeat="address in SelectAddress.addresses | filter:SelectAddress.addressesFilter track by address.id ">
            <div class="card-panel indirizzo-card left-align" row fill
                ng-click="SelectAddress.onSelectAddress({addressId:address.id})">
                <div class="address-icon" ng-if="SelectAddress.hideIcon !== true">
                    <span class="{{ address.type === 'INTERNAL' ? 'mdi-action-home' : 'mdi-maps-place' }} grey-text text-darken-3"></span>
                </div>
                <div class="no-margin all" fill>
                    <h4 ng-if="address.nome || address.cognome || address.codiceFiscale" class="no-margin all capitalize" fill>
                        {{address.nome}} {{address.cognome}}, {{address.codiceFiscale}}
                    </h4>
                    <h4 class="no-margin all capitalize" fill>{{address.formatted}}</h4>
                </div>
                <div class="selected"><i class="glyphicon glyphicon-ok right main-orange-text big" ng-show="SelectAddress.selected === address.id"></i></div>
            </div>
        </div>
        <div class="section" ng-if="SelectAddress.hideButton !== true">
            <p class="center no-margin all">
                <a class="btn btn-small btn-flat waves-effect waves-light white grey-text text-darken-3 btn-xsmall" ng-click="SelectAddress.onAddNewAddress()">Aggiungi nuovo indirizzo</a>
            </p>
        </div>
    </div>
</div>
