<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.COLF">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi di pulizia dovranno essere resi disponibili presso l’abitazione per garantire il regolare svolgimento dell’attività della tua Colf. Di seguito una lista del set di prodotti/attrezzi normalmente richiesti.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Quali prodotti servono?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.BADANTE">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi per aiutare l'assistito dovranno essere resi disponibili presso l’abitazione per garantire il regolare svolgimento dell’attività della tua Badante. Di seguito una lista del set di prodotti/attrezzi normalmente richiesti.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Prodotti e attrezzi necessari</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.BABYSITTER">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi per assistere il tuo bimbo dovranno essere resi disponibili presso l’abitazione per garantire il regolare svolgimento dell’attività della tua Baby Sitter. Di seguito una lista del set minimo di prodotti/attrezzi normalmente richiesti.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Prodotti e attrezzi necessari</a>
            </div>
        </div>
    </div>
    <!-- Consigli utili block -->
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.PERSONALTRAINER">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi utili per garantire il regolare svolgimento dell’attività del tuo Supereroe.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Quali prodotti servono?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.FISIOTERAPISTA">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi utili per garantire il regolare svolgimento dell’attività del tuo Supereroe.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Quali prodotti servono?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.STIRATURA">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi utili per garantire il regolare svolgimento dell’attività del tuo Supereroe.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Quali prodotti servono?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.CHECKIN_CHECKOUT">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.COLF_BNB">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi utili per garantire il regolare svolgimento dell’attività del tuo Supereroe.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Quali prodotti servono?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>

<section ng-if="ServiceTips.serviceStep.selectedService === ServiceTips.SERVICES.TUTTOFARE">
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Prodotti e attrezzi necessari</h3>
            <p>Prodotti e attrezzi utili per garantire il regolare svolgimento dell’attività del tuo Supereroe.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getProducts()">Quali prodotti servono?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h3>Qualche consiglio per ottenere la massima soddisfazione</h3>
            <p>Per garantire il massimo livello di soddisfazione dalla prestazione del Supereroe che effettuerà il servizio, riportiamo di seguito alcuni consigli pratici.</p>
            <div class="section">
                <a class="waves-effect waves-light main-orange btn" ng-click="ServiceTips.getSatisfaction()">Consigli utili</a>
            </div>
        </div>
    </div>
</section>
