<!-- title -->
<section ng-if="Booking.state.userInfo.isLogged === true">
    <div class="row">
        <div class="col s12">
            <h2 class="center">Dati di fatturazione</h2>
        </div>
    </div>
    <select-address
        hide-icon="true"
        addresses="Booking.state.steps.userData.billingAddresses"
        selected="Booking.state.steps.userData.selectedBillingAddress"
        on-select-address="Booking.userSelectedBillingAddress(addressId)"
        on-add-new-address="Booking.addNewBillingAddress()">
    </select-address>
</section>

<section ng-if="Booking.state.userInfo.isLogged === false">
    <div class="row">
        <div class="col s12">
            <h2 class="center">I tuoi dati</h2>
        </div>
    </div>
    <user-signup
        first-name="Booking.state.steps.userData.newUserInfo.firstName"
        last-name="Booking.state.steps.userData.newUserInfo.lastName"
        tax-code="Booking.state.steps.userData.newUserInfo.taxCode"
        mobile-number="Booking.state.steps.userData.newUserInfo.mobileNumber"
        email="Booking.state.steps.userData.newUserInfo.email"
        confirm-email="Booking.state.steps.userData.newUserInfo.confirmEmail"
        show-error="Booking.state.showInputError"
        errors="StepUserData.ERRORS"
        patterns="StepUserData.PATTERNS"
        on-user-info-changed="Booking.userInfoChanged(info)"
        on-form-valid="Booking.setUserInfoValid(valid)">
    </user-signup>
</section>

<section ng-if="(Booking.common.type === StepUserData.TYPES.CARNET && Booking.state.userInfo.isLogged !== true) ||
    (Booking.common.type !== StepUserData.TYPES.CARNET && Booking.state.steps.address.isNewAddress === true && !StepUserData.isAddressTypeExternal(Booking.state))">
    <div class="row">
        <h2 class="center">Indirizzo</h2>
        <address-input
            via="Booking.state.steps.address.input.info.route"
            numero-civico="Booking.state.steps.address.input.info.street_number"
            cap="Booking.state.steps.address.input.info.postal_code"
            localita="Booking.state.steps.address.input.info.locality"
            provincia="Booking.state.steps.address.input.info.administrative_area_level_2"
            citofono="Booking.state.steps.address.input.info.citofono"
            scala="Booking.state.steps.address.input.info.scala"
            piano="Booking.state.steps.address.input.info.piano"
            show-full-address="Booking.common.type === StepUserData.TYPES.CARNET ? Booking.state.steps.address.showFullAddressInput : true"
            disable-input="Booking.common.type === StepUserData.TYPES.CARNET ? false : true"
            show-address-details="!StepUserData.isAddressTypeExternal(Booking.state)"
            show-address-type="false"
            errors="StepUserData.ERRORS"
            on-change-user-input="Booking.setUserInputAddress(addressInfo)"
            on-change-autocomplete-address="Booking.setBookingAddress(addressInfo)">
        </address-input>
    </div>
</section>

<section ng-if="Booking.state.userInfo.isLogged !== true">
    <div class="row">
        <h2 class="center">Dati di Fatturazione</h2>
        <billing-address
            hide-same-address-toggle="StepUserData.isAddressTypeExternal(Booking.state)"
            address-is-same="StepUserData.isAddressTypeExternal(Booking.state) ? false : Booking.state.steps.userData.isBillingAddressSame"
            via="Booking.state.steps.userData.newBillingAddress.route"
            numero-civico="Booking.state.steps.userData.newBillingAddress.street_number"
            cap="Booking.state.steps.userData.newBillingAddress.postal_code"
            localita="Booking.state.steps.userData.newBillingAddress.locality"
            provincia="Booking.state.steps.userData.newBillingAddress.administrative_area_level_2"
            nome="Booking.state.steps.userData.newBillingInfo.nome"
            cognome="Booking.state.steps.userData.newBillingInfo.cognome"
            codice-fiscale="Booking.state.steps.userData.newBillingInfo.codiceFiscale"
            on-change-address-is-same="Booking.toggleSameBillingAddress()"
            show-full-address="Booking.state.steps.userData.showFullAddressInput"
            on-change-address-info="Booking.billingAddressChanged(addressInfo)"
            on-change-billing-info="Booking.billingInfoChanged(billingInfo)"
            on-form-valid="Booking.setBillingAddressValid(valid)">
        </billing-address>
    </div>
</section>

<notes
    ng-if="!StepUserData.isAddressTypeExternal(Booking.state) && Booking.common.type !== StepUserData.TYPES.CARNET"
    required="true"
    notes="Booking.state.steps.userData.additionalNotes"
    placeholder="Indicare, ad esempio, se sarete in casa e potrete accoglierlo Voi o lascerete le chiavi al portiere"
    title="Modalità di ingresso nell’appartamento"
    label="Indica come il Supereroe entrerà nell'appartamento"
    length="400"
    show-error="Booking.state.showInputError"
    errors="StepUserData.ERRORS"
    on-notes-changed="Booking.setBookingNotes(notes)">
</notes>
