<div class="row">
    <div class="col s6 m4 horizontal-block"
        ng-repeat="tool in AdditionalTools.tools"
        ng-click="AdditionalTools.onToolClick({additionalToolId: tool.id})">
        <div full-width class="additional-service-button"
            data-position="top" data-delay="50" data-tooltip="{{tool.description}}"
            ng-class="{ active: AdditionalTools.isSelected(tool.id), 'disable-toggle': AdditionalTools.disableToggle }">
            <div class="info" fill valign-wrapper>
                <md-icon ng-if="tool.icon" class="md-icon center service-icons hide-sm" md-svg-src="{{ tool.icon }}" valign></md-icon>
                <p padding-horizontal-small ng-bind="tool.label" class="center title-small-active" valign></p>
            </div>
            <div class="additional-time" fill valign-wrapper>
                <span class="glyphicon glyphicon-ok icon-active center" valign></span>
                <p class="center" ng-if="tool.price" valign>{{ tool.price.toFixed(2) }} &euro;</p>
            </div>
        </div>
    </div>
</div>
