.checkbox-competenza {
    margin: 10px 0px;
}

.form-competenza {
    font-size: 1.15rem !important;
    font-weight: 400 !important;
    color: #565a5c !important;
    font-family: "museo_sans500", sans-serif !important;
    font-weight: 600 !important;

}

.categoria-competenze h5 {
    margin-top: 26px;
}

.center-vertical {
    margin-top: 3.1rem !important;
}

#heroApplicationForm [ng-message] {
  color: white;
  background-color: #EE693C;
}