<page-image-header image="{{ctrl.headerImage}}" title="Dicono di noi"></page-image-header>

<div class="container with-padding" autoscroll>
    <div class="row no-margin bottom">
        <div class="col s12 m8">
            <div class="with-padding-vertical">
                <article class="press-review__article" ng-repeat="article in ctrl.articles" id="press-review__article-{{$index}}">
                    <header class="center">
                        <img class="press-review__article-logo {{article.logo.className}}" ng-src="{{article.logo.link}}"></img>
                    </header>

                    <h3>{{article.title}}</h3>
                    <h4 class="press-review__article-tagline">{{article.tagline}}</h4>
                    <p class="press-review__article-publish-date">Pubblicato il {{article.publishDate}}</p>
                    <p class="press-review__article-content" ng-bind-html="article.content"></p>
                    <div ng-if="article.audio">
                        <audio media-player="audioInstance" controls>
                            <source src="{{article.audio.source}}" type="audio/mp3">
                        </audio>
                    </div>
                    <br><hr ng-if="!$last"><br><br><br>
                </article>

            </div>
        </div>
        <div class="col s12 m4">
            <div class="white with-padding">

                <ul class="no-margin all">
                    <li ng-repeat="article in ctrl.articles" scroll-to="press-review__article-{{$index}}" offset="50"><h4 class="no-margin all">{{article.publisher}}</h4></li>
                </ul>
            </div>
        </div>
    </div>
</div>
