<div class="row">
  <div class="col m12 center">
    <h1>Gestisci i tuoi carnet</h1>
  </div>
</div>

<div class="row elenco-carnet">
    <div ng-if="ctrl.carnet.length < 1" class="col s12 m12">
      <p class="center"><i>Spiacenti, non hai ancora acquistato alcun carnet</i></p>
    </div>

    <div class="col m12 s12 center no-padding-mobile" ng-if="ctrl.carnet.length > 0">
        <carnet-info-large
            highlighted="{{ctrl.highlightedCarnet}}"
            carnet-info="ctrl.carnet"></carnet-info-large>
    </div>
</div>
