<h3 class="center no-margin all ng-binding">Lasciaci il tuo feedback</h3>
<p>Al fine di garantirti una qualità del servizio sempre maggiore, desidereremmo chiedere il <b>Tuo feedback sul lavoro svolto da {{appointment.nomeSuperHero}}</b>. Grazie per il Tuo aiuto.</p>
<p class="center"><a class="waves-effect waves-light white grey-text text-darken-3 btn-flat btn btn-small" ng-click="showAppointmentInfo()">Dettagli appuntamento</a>&nbsp;<a class="waves-effect waves-light white grey-text text-darken-3 btn-flat btn btn-small" ng-click="showHeroProfile()">Scheda Supereroe</a></p>
<div class="center">
  <div class="row no-margin all">
    <div class="col s6 m3">
      <h5 class="center">Velocità</h5>
      <div class="stars">
        <rating ng-model="attributes.velocita" max="max" state-on="state.on" state-off="state.off"></rating>
      </div>
    </div>
    <div class="col s6 m3">
      <h5 class="center">Personalità</h5>
      <div class="stars">
        <rating ng-model="attributes.professionalita" max="max" state-on="state.on" state-off="state.off"></rating>
      </div>
    </div>
    <div class="col s6 m3">
      <h5 class="center">Accuratezza</h5>
      <div class="stars">
        <rating ng-model="attributes.accuratezza" max="max" state-on="state.on" state-off="state.off"></rating>
      </div>
    </div>
    <div class="col s6 m3">
      <h5 class="center">Puntualità</h5>
      <div class="stars">
        <rating ng-model="attributes.puntualita" max="max" state-on="state.on" state-off="state.off"></rating>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div input-field>
        <textarea class="materialize-textarea" ng-model="attributes.descrizione"></textarea>
        <label>Descrizione</label>
      </div>
    </div>
  </div>
  <p><b>Nota</b>: il Supereroe potrà scegliere se pubblicare la Tua referenza (che apparirà in forma anonima) nel suo profilo personale, se lo desidera</p>
</div>
<p class="center"><a class="waves-effect waves-light main-orange btn" ng-click="sendFeedback()">Invia</a></p>
<p class="center main-orange-text" ng-if="error"><i>{{error}}</i></p>
