<div ng-if="(!ctrl.isApp || (ctrl.isApp && ctrl.isBacheca))" class="user-sidebar">
  <div class="row"  ng-if="ctrl.feedbacks.length > 0">
    <div class="col s12">
      <div class="alert-box">
        <div class="card-panel white alert-card">
          <h5 class="center uppercase no-margin top main-orange-text">Lasciaci il tuo feedback</h5>
          <div ng-repeat="feedback in ctrl.feedbacks" ng-click="ctrl.showFeedbackModal(feedback)" class="center feedback-single my-heroes-single" row fill>
            <!-- <i class="mdi-content-create center"></i><span class="padding-left-small smaller left-align" ng-bind-html="feedback.label"></span> -->
            <div row fill>
                <div class="width-45 center-sm">
                    <div class="hero-profile profile-pic my-heroes-pic" ng-style="{ 'background-image': 'url(\'' + feedback.photoUrl + '\')' }"></div>
                </div>
                <div class="center"><p class="no-margin all left-align center-sm hero-name">{{ feedback.nome }}<br>{{ feedback.cognome }}</p></div>
            </div>
            <div style="width:50px">
                <i class="rating-icon mdi-action-grade"></i>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!ctrl.isApp">
    <h4>Collegamenti utili</h4>
    <div class="row collegamenti-utili">
      <div class="col s12 m3 l12">
        <a ng-if="ctrl.isBnb" class="waves-effect waves-light main-orange btn" full-width ui-sref="booking.bnbService">Prenota servizio</a>
        <a ng-if="!ctrl.isBnb" class="waves-effect waves-light main-orange btn" full-width ui-sref="booking.service">Prenota servizio</a>
      </div>
      <div class="col s12 m3 l12">
        <a ng-if="ctrl.isBnb" class="waves-effect waves-light main-orange btn" full-width ui-sref="booking.bnbHerosearch">Cerca supereroe</a>
        <a ng-if="!ctrl.isBnb" class="waves-effect waves-light main-orange btn" full-width ui-sref="booking.herosearch">Cerca supereroe</a>
      </div>
      <div class="col s12 m3 l12">
        <a ng-if="ctrl.isBnb" class="waves-effect waves-light main-orange btn" full-width ui-sref="main.guest.bnbCarnet">Acquista un carnet</a>
        <a ng-if="!ctrl.isBnb" class="waves-effect waves-light main-orange btn" full-width ui-sref="main.guest.carnet">Acquista un carnet</a>
      </div>
      <div class="col s12 m3 l12">
        <a class="waves-effect waves-light main-orange btn" full-width ui-sref="main.user.referral">Invita un amico</a>
      </div>
    </div>
  </div>

  <first-carnet ng-if="ctrl.showDiscount()"></first-carnet>

  <div ng-if="!ctrl.isApp" class="today-appointments">
    <h4>Appuntamenti di oggi</h4>
    <ul ng-show="ctrl.appointmentsOfTheDay.length > 0">
      <li ng-repeat="app in ctrl.appointmentsOfTheDay | orderBy:'dataInizio' | limitTo:99 | filter:{isPositive:true}" ng-click="ctrl.showAppointmentInfo(app.id)" class="{{ app.isPast ? 'past' : '' }}">
        <div row fill>
          <div class="">
            <div class="hero-profile-pic center" row>
              <span class="center"><div class="profile-pic" style="background-image:url('{{app.superHeroPhotoUrl}}')"></div></span>
              <span class="nome left-align">{{ app.superHeroNomeCompleto }}<br><small>{{app.labels.servizio}}</small></span>
            </div>
          </div>
          <div class="stato center">
            <span class="right-align">{{ app.labels.oraInizio }} - {{ app.labels.oraFine }}</span>
          </div>
        </div>
      </li>
    </ul>
    <p ng-show="ctrl.appointmentsOfTheDay.length < 1" class="center">
      <i>Nessun appuntamento in calendario per oggi.</i>
    </p>
  </div>
  <div ng-if="!ctrl.isApp" class="my-heroes">
    <h4>I miei supereroi</h4>
    <div class="row">
      <div class="col s12">
        <div ng-repeat="hero in ctrl.heroesList" hero-profile hero="hero"></div>
        <p ng-show="ctrl.heroesList.length < 1" class="center">
          <i>Non ci ancora sono supereroi a te associati.</i>
        </p>
      </div>
    </div>
  </div>
  <div ng-if="!ctrl.isApp" class="carnet" ng-if="ctrl.carnetList.length > 0">
    <h4>I miei carnet</h4>
    <div class="row">
      <div class="col s12 m12 l12" ng-repeat="carnet in ctrl.carnetList">
        <div class="carnet-single card-panel" row fill ng-click="ctrl.newCarnetOrder(carnet)">
          <div class="tipologia center width-100">
            <md-icon class="md-icon medium main-orange-text" md-svg-src="{{ carnet.carnetIcon }}" fill></md-icon>
          </div>
          <div class="info">
            <div class="ore-residue">
              <p class="center no-margin bottom">{{carnet.label}} - {{ carnet.oreResidue + '/' + carnet.oreTotali }} {{carnet.isPrestazione ? ' prestazioni' : ' ore'}}</p>
            </div>
            <div class="scadenza">
              <p class="center no-margin top"><small>scad. {{ carnet.scadenza }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12 center-align">
        <a ui-sref="main.user.carnet"><span class="helping-text helping-text-dark">Gestisci i tuoi carnet</span></a>
      </div>
    </div>
  </div>
</div>
